.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0 4em;
    /* width: 100%; */
    height: 70vh;
    overflow-y: auto;
}

.items li {
    position: relative;
    cursor: pointer;
    margin: 0 0 2em 0;
    padding: .5em 0;
    height: 1.6em;
    border-radius: 4px;
}

.items li a:hover {
    font-weight: 600;
    color: #607D8B;
    left: .1em;
    bottom: .1em;
}

.items li a {
    color: #888;
    text-decoration: none;
    border-bottom: solid 1px #EEE;
    margin-left: .5em;
    line-height: 2em;
    position: relative;
    display: block;
    width: inherit;
}

/* .items a:hover {
    color: #607D8B;
} */

button:hover {
    background-color: #cfd8dc;
}