<div class="container col-lg-4">
  <h1>Sign in</h1>
    <form (submit)="signinSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" routerLink="/register">New around here? Sign up</a>
    <a class="dropdown-item" href="#">Forgot password?</a>
  </div>