<nav class="navbar navbar-expand-lg navbar-light bg-light row justify-content-center">
  <div class="col-lg-10">
    <div class="row">
      <a class="navbar-brand" href="#">🍅 GroceryList</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-target" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapse-target">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/items">Dashboard</a>
          <a class="nav-item nav-link" href="https://github.com/yifeidesu/grocerylist">GitHub</a>
          <a class="nav-item nav-link" href="https://yifeidesu.github.io/">Portfolio</a>
        </div>
      </div>
    </div>
  </div>
</nav>