<form class="col-lg-6">
  <div>
    <label for="itemTitle">Title</label>
    <input [(ngModel)]="item.title" name="title" id="itemTitle" class="form-control" type="text" placeholder="What to buy...">
  </div>
  <br>
  <div class="form-group">
    <label for="itemNote">Notes</label>
    <textarea [(ngModel)]="item.note" name="note" id="itemNote" class="form-control" rows="3"></textarea>
  </div>
  <div class="form-check">
    <input [(ngModel)]="item.purchased" name="purchased" type="checkbox" checked={{item.purchased}} class="form-check-input"
      id="itemPurchased">
    <label class="form-check-label" for="itemPurchased">Purchased</label>
  </div>
  <br>
  <button (click)="save()" class="btn btn-primary" type="submit">Save</button>
  <button (click)="back()" class="btn btn-light">Cancel</button>
</form>
