<form>
  <div>
    <label for="itemTitle">Title</label>
    <input [(ngModel)]="createdItem.title" name="title" id="titleInput" (keyup)="onKey($event)" class="form-control" type="text"
      placeholder="What to buy...">
  </div>
  <br>
  <div class="form-group">
    <label for="itemNote">Notes</label>
    <textarea [(ngModel)]="createdItem.note" name="note" id="noteInput" class="form-control" rows="2" placeholder="Add some notes..."></textarea>
  </div>

  <button [disabled]="isUnchanged" (click)="addItem()" type="submit" id="okBtn" class="btn btn-success disabled">Add</button>
  <button (click)="clearFields()" routerLink="/items" class="btn btn-light">Cancel</button>

</form>
<br>
<button (click)="populateList()" id="randomBtn" class="btn btn-light" [ngClass]="items.length<1 ? '': 'disabled'">Generate Some</button>
<button (click)="removeAll()" class="btn btn-danger">Clear All</button>
